/* Large screen adjustments */
@media (min-width: 992px) {
  .logo-title {
    flex-direction: row; /* logo and title side by side */
    justify-content: center;
    gap: 25px;
  }

  .logo {
    width: 140px;
  }

  header h1 {
    font-size: 3rem; /* bigger impact */
  }

  header p {
    font-size: 1.2rem;
  }

  section {
    padding: 20px;
  }
  .about-container {
    flex-direction: row; /* lado a lado no desktop */
    align-items: flex-start;
    gap: 25px;
  }

  .about-photo {
    width: 180px; /* um pouco maior no desktop */
  }

  .about-text {
    text-align: left;
  }
}

