@media (min-width: 768px) {

  .menu-button {
    display: none;
  }

  nav {
    display: flex;              /* garante que apareça */
    flex-direction: row;
    justify-content: center;    /* mantém centralizado */
    gap: 2rem;
    margin-top: 1rem;
  }

  form {
    max-width: 500px;
    padding: 1.75rem;
  }

}


@media (min-width: 1024px) {

  main {
    padding: 2rem;
  }

  #course-title {
    font-size: 1.75rem;
  }
}